{% extends 'base.html' %}
{% block title %} CLASSES-GRASSHILLFOOTBALLCLUB {% endblock %}

{% load static %}

{% block content %}


        <!-- Start Banner -->
        <div class="banner-outer inner-banner classes-banner">
            <span class="banner-shadow"></span>
            <div class="container">
                <div class="content" data-aos="fade-down">
                    <h1>CLASSES</h1>
                    <div class="breadcrumbs_outer">
                        <div class="container">
                            <ul class="breadcrumbs">
                                <li><a href="home.html">Home</a></li>
                                <li>Classes</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Banner --> 

        <!-- Start Feature Classes -->
        <div class="feature-outer classes-page">
            <div class="container">
                <div class="feature-list">
                    <div class="row">
                        <div class="col-sm-4 col-xs-12">
                            <div class="feature-box">
                                <figure>
                                    <img src="{% static 'sweb/images/feature-thumb1.png' %}" alt="">
                                    <div class="time-box">
                                        <span class="date"><span>16 DEC</span></span>
                                        <span class="time"><span>6:30 AM</span></span>
                                    </div>
                                </figure>
                                <h4>Weight Lifting</h4>
                                <p>Aliquam eu malesuada risus. Vivamus sagittis enim tempor eros consectetur, at ullamcorper neque maximus. <a href="classes-detail.html">Read More...</a></p>                                
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <div class="feature-box">
                                <figure>
                                    <img src="{% static 'sweb/images/feature-thumb2.png' %}" alt="">
                                    <div class="time-box">
                                        <span class="date"><span>16 DEC</span></span>
                                        <span class="time"><span>6:30 AM</span></span>
                                    </div>
                                </figure>
                                <h4>Daily Yoga</h4>
                                <p>Aliquam eu malesuada risus. Vivamus sagittis enim tempor eros consectetur, at ullamcorper neque maximus. <a href="classes-detail.html">Read More...</a></p>   
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <div class="feature-box">
                                <figure>
                                    <img src="{% static 'sweb/images/feature-thumb3.png' %}" alt="">
                                    <div class="time-box">
                                        <span class="date"><span>16 DEC</span></span>
                                        <span class="time"><span>6:30 AM</span></span>
                                    </div>
                                </figure>
                                <h4>Running Way</h4>
                                <p>Aliquam eu malesuada risus. Vivamus sagittis enim tempor eros consectetur, at ullamcorper neque maximus. <a href="classes-detail.html">Read More...</a></p>   
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <div class="feature-box">
                                <figure>
                                    <img src="{% static 'sweb/images/feature-thumb4.png' %}" alt="">
                                    <div class="time-box">
                                        <span class="date"><span>16 DEC</span></span>
                                        <span class="time"><span>6:30 AM</span></span>
                                    </div>
                                </figure>
                                <h4>Karate</h4>
                                <p>Aliquam eu malesuada risus. Vivamus sagittis enim tempor eros consectetur, at ullamcorper neque maximus. <a href="classes-detail.html">Read More...</a></p>   
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <div class="feature-box">
                                <figure>
                                    <img src="{% static 'sweb/images/feature-thumb5.png' %}" alt="">
                                    <div class="time-box">
                                        <span class="date"><span>16 DEC</span></span>
                                        <span class="time"><span>6:30 AM</span></span>
                                    </div>
                                </figure>
                                <h4>Bag Training Class</h4>
                                <p>Aliquam eu malesuada risus. Vivamus sagittis enim tempor eros consectetur, at ullamcorper neque maximus. <a href="classes-detail.html">Read More...</a></p>   
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <div class="feature-box">
                                <figure>
                                    <img src="{% static 'sweb/images/feature-thumb6.png' %}" alt="">
                                    <div class="time-box">
                                        <span class="date"><span>16 DEC</span></span>
                                        <span class="time"><span>6:30 AM</span></span>
                                    </div>
                                </figure>
                                <h4>Boxing Class</h4>
                                <p>Aliquam eu malesuada risus. Vivamus sagittis enim tempor eros consectetur, at ullamcorper neque maximus. <a href="classes-detail.html">Read More...</a></p>   
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <div class="feature-box">
                                <figure>
                                    <img src="{% static 'sweb/images/feature-thumb7.png' %}" alt="">
                                    <div class="time-box">
                                        <span class="date"><span>16 DEC</span></span>
                                        <span class="time"><span>6:30 AM</span></span>
                                    </div>
                                </figure>
                                <h4>Pilates Class</h4>
                                <p>Aliquam eu malesuada risus. Vivamus sagittis enim tempor eros consectetur, at ullamcorper neque maximus. <a href="classes-detail.html">Read More...</a></p>   
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <div class="feature-box">
                                <figure>
                                    <img src="{% static 'sweb/images/feature-thumb8.png' %}" alt="">
                                    <div class="time-box">
                                        <span class="date"><span>16 DEC</span></span>
                                        <span class="time"><span>6:30 AM</span></span>
                                    </div>
                                </figure>
                                <h4>Leg Workout</h4>
                                <p>Aliquam eu malesuada risus. Vivamus sagittis enim tempor eros consectetur, at ullamcorper neque maximus. <a href="classes-detail.html">Read More...</a></p>   
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <div class="feature-box">
                                <figure>
                                    <img src="{% static 'sweb/images/feature-thumb9.png' %}" alt="">
                                    <div class="time-box">
                                        <span class="date"><span>16 DEC</span></span>
                                        <span class="time"><span>6:30 AM</span></span>
                                    </div>
                                </figure>
                                <h4>Pull Up</h4>
                                <p>Aliquam eu malesuada risus. Vivamus sagittis enim tempor eros consectetur, at ullamcorper neque maximus. <a href="classes-detail.html">Read More...</a></p>   
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Feature sec -->

        <!-- Start Finess Sec -->
        <div class="finess-outer">
            <div class="container">
                <h3>Fitness Classes This Summer. <br/>Pay Now and<br/> Get <span>25%</span> Discount</h3>
                <a href="contact.html" class="btn">JOIN WITH US</a>
            </div>
        </div>
        <!-- End Finess sec -->
        <!-- Start CLASS SCHEDULE sec -->
        <div class="classSch-outer pagepd">
            <div class="container">
                <div class="head">
                    <h3>CLASS SCHEDULE</h3>
                </div>
                <ul class="tabs">
                    <li class="active"><a href="#mon">Monday</a></li>
                    <li><a href="#tus">Tuesday</a></li>
                    <li><a href="#wed">Wednesday</a></li>
                    <li><a href="#thrus">Thursday</a></li>
                    <li><a href="#friday">Friday</a></li>
                    <li><a href="#sat">Saturday</a></li>
                    <li><a href="#sun">Sunday</a></li>
                </ul>
                <div class="table-outer">
                    <table class="table tab_container" id="mon">
                        <tr>
                            <td>Yoga</td>
                            <td>10.00 am - 12.00 pm</td>
                            <td>Robert Smith</td>
                            <td><a href="contact.html" class="btn">Join Now</a></td>
                        </tr>
                        <tr>
                            <td>Running</td>
                            <td>09.00 am - 12.00 pm</td>
                            <td>Lina John</td>
                            <td><a href="contact.html" class="btn">Join Now</a></td>
                        </tr>
                        <tr>
                            <td>Gym</td>
                            <td>10.00 am - 12.00 pm</td>
                            <td>Michale Rose</td>
                            <td><a href="contact.html" class="btn">Join Now</a></td>
                        </tr>
                        <tr>
                            <td>Free Hand</td>
                            <td>09.00 am - 12.00 pm</td>
                            <td>Robin Disuza</td>
                            <td><a href="contact.html" class="btn">Join Now</a></td>
                        </tr>
                        <tr>
                            <td>Yoga</td>
                            <td>10.00 am - 12.00 pm</td>
                            <td>Mark Jinsed</td>
                            <td><a href="contact.html" class="btn">Join Now</a></td>
                        </tr>
                        <tr>
                            <td>Weight Lifting</td>
                            <td>09.00 am - 12.00 pm</td>
                            <td>Michal Khurp</td>
                            <td><a href="contact.html" class="btn">Join Now</a></td>
                        </tr>
                    </table>
                    <table class="table tab_container" id="tus">
                        <tr>
                            <td>Yoga</td>
                            <td>10.00 am - 12.00 pm</td>
                            <td>Robert Smith</td>
                            <td><a href="contact.html" class="btn">Join Now</a></td>
                        </tr>
                        <tr>
                            <td>Running</td>
                            <td>09.00 am - 12.00 pm</td>
                            <td>Lina John</td>
                            <td><a href="contact.html" class="btn">Join Now</a></td>
                        </tr>
                        <tr>
                            <td>Gym</td>
                            <td>10.00 am - 12.00 pm</td>
                            <td>Michale Rose</td>
                            <td><a href="contact.html" class="btn">Join Now</a></td>
                        </tr>
                    </table>
                    <table class="table tab_container" id="wed">
                    	<tr>
                            <td>Weight Lifting</td>
                            <td>09.00 am - 12.00 pm</td>
                            <td>Michal Khurp</td>
                            <td><a href="contact.html" class="btn">Join Now</a></td>
                        </tr>
                        <tr>
                            <td>Yoga</td>
                            <td>10.00 am - 12.00 pm</td>
                            <td>Robert Smith</td>
                            <td><a href="contact.html" class="btn">Join Now</a></td>
                        </tr>
                        <tr>
                            <td>Running</td>
                            <td>09.00 am - 12.00 pm</td>
                            <td>Lina John</td>
                            <td><a href="contact.html" class="btn">Join Now</a></td>
                        </tr>
                        <tr>
                            <td>Gym</td>
                            <td>10.00 am - 12.00 pm</td>
                            <td>Michale Rose</td>
                            <td><a href="contact.html" class="btn">Join Now</a></td>
                        </tr>
                    </table>
                    <table class="table tab_container" id="thrus">
                        <tr>
                            <td>Running</td>
                            <td>09.00 am - 12.00 pm</td>
                            <td>Lina John</td>
                            <td><a href="contact.html" class="btn">Join Now</a></td>
                        </tr>
                        <tr>
                            <td>Gym</td>
                            <td>10.00 am - 12.00 pm</td>
                            <td>Michale Rose</td>
                            <td><a href="contact-.html" class="btn">Join Now</a></td>
                        </tr>
                    </table>
                    <table class="table tab_container" id="friday">
                        <tr>
                            <td>Yoga</td>
                            <td>10.00 am - 12.00 pm</td>
                            <td>Robert Smith</td>
                            <td><a href="contact.html" class="btn">Join Now</a></td>
                        </tr>
                        <tr>
                            <td>Running</td>
                            <td>09.00 am - 12.00 pm</td>
                            <td>Lina John</td>
                            <td><a href="contact.html" class="btn">Join Now</a></td>
                        </tr>
                        <tr>
                            <td>Yoga</td>
                            <td>10.00 am - 12.00 pm</td>
                            <td>Mark Jinsed</td>
                            <td><a href="contact.html" class="btn">Join Now</a></td>
                        </tr>
                        <tr>
                            <td>Weight Lifting</td>
                            <td>09.00 am - 12.00 pm</td>
                            <td>Michal Khurp</td>
                            <td><a href="contact.html" class="btn">Join Now</a></td>
                        </tr>
                    </table>
                    <table class="table tab_container" id="sat">
                        <tr>
                            <td>Running</td>
                            <td>09.00 am - 12.00 pm</td>
                            <td>Lina John</td>
                            <td><a href="contact.html" class="btn">Join Now</a></td>
                        </tr>
                        <tr>
                            <td>Yoga</td>
                            <td>10.00 am - 12.00 pm</td>
                            <td>Mark Jinsed</td>
                            <td><a href="contact.html" class="btn">Join Now</a></td>
                        </tr>
                        <tr>
                            <td>Weight Lifting</td>
                            <td>09.00 am - 12.00 pm</td>
                            <td>Michal Khurp</td>
                            <td><a href="contact.html" class="btn">Join Now</a></td>
                        </tr>
                    </table>
                    <table class="table tab_container" id="sun">
                        <tr>
                            <td>Yoga</td>
                            <td>10.00 am - 12.00 pm</td>
                            <td>Robert Smith</td>
                            <td><a href="contact.html" class="btn">Join Now</a></td>
                        </tr>
                        <tr>
                            <td>Running</td>
                            <td>09.00 am - 12.00 pm</td>
                            <td>Lina John</td>
                            <td><a href="contact.html" class="btn">Join Now</a></td>
                        </tr>
                        <tr>
                            <td>Weight Lifting</td>
                            <td>09.00 am - 12.00 pm</td>
                            <td>Michal Khurp</td>
                            <td><a href="contact.html" class="btn">Join Now</a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <!-- End CLASS SCHEDULE sec -->


{% endblock %}