{% extends 'base.html' %}
{% block title %} SCHEDULE-GRASSHILLFOOTBALLCLUB {% endblock %}

{% load static %}

{% block content %}


        <!-- Start Banner -->
        <div class="banner-outer inner-banner schedule-banner">
            <span class="banner-shadow"></span>
            <div class="container">
                <div class="content" data-aos="fade-down">
                    <h1>SCHEDULE</h1>
                    <div class="breadcrumbs_outer">
                        <div class="container">
                            <ul class="breadcrumbs">
                                <li><a href="home.html">Home</a></li>
                                <li>Schedule</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Banner --> 

        <!-- Start CLASS SCHEDULE sec -->
        <div class="classSch-outer schedulePage">
            <div class="container">
                <div class="head">
                    <h3>CLASS SCHEDULE</h3>
                </div>
                <ul class="tabs">
                    <li class="active"><a href="#mon">Monday</a></li>
                    <li><a href="#tus">Tuesday</a></li>
                    <li><a href="#wed">Wednesday</a></li>
                    <li><a href="#thrus">Thursday</a></li>
                    <li><a href="#friday">Friday</a></li>
                    <li><a href="#sat">Saturday</a></li>
                    <li><a href="#sun">Sunday</a></li>
                </ul>
                <div class="table-outer">
                    <table class="table tab_container" id="mon">
                        <tbody><tr>
                            <td>Yoga</td>
                            <td>10.00 am - 12.00 pm</td>
                            <td>Robert Smith</td>
                            <td><a href="contact.html" class="btn">Join Now</a></td>
                        </tr>
                        <tr>
                            <td>Running</td>
                            <td>09.00 am - 12.00 pm</td>
                            <td>Lina John</td>
                            <td><a href="contact.html" class="btn">Join Now</a></td>
                        </tr>
                        <tr>
                            <td>Gym</td>
                            <td>10.00 am - 12.00 pm</td>
                            <td>Michale Rose</td>
                            <td><a href="contact.html" class="btn">Join Now</a></td>
                        </tr>
                        <tr>
                            <td>Free Hand</td>
                            <td>09.00 am - 12.00 pm</td>
                            <td>Robin Disuza</td>
                            <td><a href="contact.html" class="btn">Join Now</a></td>
                        </tr>
                        <tr>
                            <td>Yoga</td>
                            <td>10.00 am - 12.00 pm</td>
                            <td>Mark Jinsed</td>
                            <td><a href="contact.html" class="btn">Join Now</a></td>
                        </tr>
                        <tr>
                            <td>Weight Lifting</td>
                            <td>09.00 am - 12.00 pm</td>
                            <td>Michal Khurp</td>
                            <td><a href="contact.html" class="btn">Join Now</a></td>
                        </tr>
                    </tbody></table>
                    <table class="table tab_container" id="tus">
                        <tbody><tr>
                            <td>Yoga</td>
                            <td>10.00 am - 12.00 pm</td>
                            <td>Robert Smith</td>
                            <td><a href="contact.html" class="btn">Join Now</a></td>
                        </tr>
                        <tr>
                            <td>Running</td>
                            <td>09.00 am - 12.00 pm</td>
                            <td>Lina John</td>
                            <td><a href="contact.html" class="btn">Join Now</a></td>
                        </tr>
                        <tr>
                            <td>Gym</td>
                            <td>10.00 am - 12.00 pm</td>
                            <td>Michale Rose</td>
                            <td><a href="contact.html" class="btn">Join Now</a></td>
                        </tr>
                    </tbody></table>
                    <table class="table tab_container" id="wed">
                    	<tbody><tr>
                            <td>Weight Lifting</td>
                            <td>09.00 am - 12.00 pm</td>
                            <td>Michal Khurp</td>
                            <td><a href="contact.html" class="btn">Join Now</a></td>
                        </tr>
                        <tr>
                            <td>Yoga</td>
                            <td>10.00 am - 12.00 pm</td>
                            <td>Robert Smith</td>
                            <td><a href="contact.html" class="btn">Join Now</a></td>
                        </tr>
                        <tr>
                            <td>Running</td>
                            <td>09.00 am - 12.00 pm</td>
                            <td>Lina John</td>
                            <td><a href="contact.html" class="btn">Join Now</a></td>
                        </tr>
                        <tr>
                            <td>Gym</td>
                            <td>10.00 am - 12.00 pm</td>
                            <td>Michale Rose</td>
                            <td><a href="contact.html" class="btn">Join Now</a></td>
                        </tr>
                    </tbody></table>
                    <table class="table tab_container" id="thrus">
                        <tbody><tr>
                            <td>Running</td>
                            <td>09.00 am - 12.00 pm</td>
                            <td>Lina John</td>
                            <td><a href="contact.html" class="btn">Join Now</a></td>
                        </tr>
                        <tr>
                            <td>Gym</td>
                            <td>10.00 am - 12.00 pm</td>
                            <td>Michale Rose</td>
                            <td><a href="contact.html" class="btn">Join Now</a></td>
                        </tr>
                    </tbody></table>
                    <table class="table tab_container" id="friday">
                        <tbody><tr>
                            <td>Yoga</td>
                            <td>10.00 am - 12.00 pm</td>
                            <td>Robert Smith</td>
                            <td><a href="contact.html" class="btn">Join Now</a></td>
                        </tr>
                        <tr>
                            <td>Running</td>
                            <td>09.00 am - 12.00 pm</td>
                            <td>Lina John</td>
                            <td><a href="contact.html" class="btn">Join Now</a></td>
                        </tr>
                        <tr>
                            <td>Yoga</td>
                            <td>10.00 am - 12.00 pm</td>
                            <td>Mark Jinsed</td>
                            <td><a href="contact.html" class="btn">Join Now</a></td>
                        </tr>
                        <tr>
                            <td>Weight Lifting</td>
                            <td>09.00 am - 12.00 pm</td>
                            <td>Michal Khurp</td>
                            <td><a href="contact.html" class="btn">Join Now</a></td>
                        </tr>
                    </tbody></table>
                    <table class="table tab_container" id="sat">
                        <tbody><tr>
                            <td>Running</td>
                            <td>09.00 am - 12.00 pm</td>
                            <td>Lina John</td>
                            <td><a href="contact.html" class="btn">Join Now</a></td>
                        </tr>
                        <tr>
                            <td>Yoga</td>
                            <td>10.00 am - 12.00 pm</td>
                            <td>Mark Jinsed</td>
                            <td><a href="contact.html" class="btn">Join Now</a></td>
                        </tr>
                        <tr>
                            <td>Weight Lifting</td>
                            <td>09.00 am - 12.00 pm</td>
                            <td>Michal Khurp</td>
                            <td><a href="contact.html" class="btn">Join Now</a></td>
                        </tr>
                    </tbody></table>
                    <table class="table tab_container" id="sun">
                        <tbody><tr>
                            <td>Yoga</td>
                            <td>10.00 am - 12.00 pm</td>
                            <td>Robert Smith</td>
                            <td><a href="contact.html" class="btn">Join Now</a></td>
                        </tr>
                        <tr>
                            <td>Running</td>
                            <td>09.00 am - 12.00 pm</td>
                            <td>Lina John</td>
                            <td><a href="contact.html" class="btn">Join Now</a></td>
                        </tr>
                        <tr>
                            <td>Weight Lifting</td>
                            <td>09.00 am - 12.00 pm</td>
                            <td>Michal Khurp</td>
                            <td><a href="contact.html" class="btn">Join Now</a></td>
                        </tr>
                    </tbody></table>
                </div>
            </div>
        </div>
        <!-- End CLASS SCHEDULE sec -->

        <!-- Start Finess Sec -->
        <div class="finess-outer">
            <div class="container">
                <h3>Fitness Classes This Summer. <br/>Pay Now and<br/> Get <span>25%</span> Discount</h3>
                <a href="contact.html" class="btn">JOIN WITH US</a>
            </div>
        </div>
        <!-- End Finess sec -->

        <!-- Start News sec -->
        <div class="news-outer">
            <div class="container">
                <div class="head">
                    <h3>LATEST NEWS</h3>
                </div>
                <div class="news-list">
                    <div class="row">
                        <div class="col-sm-4 col-xs-12">
                            <div class="news-box">
                                <figure><img src="images/news-img1.png" alt="">
                                    <div class="date-box">
                                        <span>JAN</span>
                                        <strong>20</strong>
                                    </div>
                                </figure>
                                <h4>Lorem ipsum dolor sit amet</h4>
                                <p>Aliquam eu malesuada risus. Vivamus sagittis enim tempor eros consectetur, at ullamcorper neque maximus. <a href="news-detail.html">Read More...</a></p>
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <div class="news-box">
                                <figure>
                                    <img src="images/news-img2.png" alt="">
                                    <div class="date-box">
                                        <span>JAN</span>
                                        <strong>20</strong>
                                    </div>
                                </figure>
                                <h4>Pellentesque pellentesque</h4>
                                <p>Aliquam eu malesuada risus. Vivamus sagittis enim tempor eros consectetur, at ullamcorper neque maximus. <a href="news-detail.html">Read More...</a></p>
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <div class="news-box">
                                <figure>
                                    <img src="images/news-img3.png" alt="">
                                    <div class="date-box">
                                        <span>JAN</span>
                                        <strong>20</strong>
                                    </div>
                                </figure>
                                <h4>Curabitur et scelerisque dui</h4>
                                <p>Aliquam eu malesuada risus. Vivamus sagittis enim tempor eros consectetur, at ullamcorper neque maximus. <a href="news-detail.html">Read More...</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End News sec --> 



{% endblock %}
