{% extends 'base.html' %}
{% block title %} TRAINERS-GRASSHILLFOOTBALLCLUB {% endblock %}

{% load static %}

{% block content %}


        <!-- Start Banner -->
        <div class="banner-outer inner-banner trainers-banner">
            <span class="banner-shadow"></span>
            <div class="container">
                <div class="content">
                    <h1>TRAINERS</h1>
                    <div class="breadcrumbs_outer">
                        <div class="container">
                            <ul class="breadcrumbs">
                                <li><a href="home.html">Home</a></li>
                                <li>Trainers</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Banner --> 

        <!-- Start Trainers sec -->
        <div class="trainers-outer bgNone trainers-page">
            <div class="container">
                <div class="trainers-list">
                    <div class="row">
                        <div class="col-sm-3 col-xs-12">
                            <div class="trainers-box">
                                <figure><img src="{% static 'sweb/images/trainer1.png' %}" alt=""></figure>
                                <span>Justin Hessen</span>
                            </div>
                        </div>
                        <div class="col-sm-3 col-xs-12">
                            <div class="trainers-box">
                                <figure><img src="{% static 'sweb/images/trainer2.png' %}" alt=""></figure>
                                <span>Romia Rose</span>
                            </div>
                        </div>
                        <div class="col-sm-3 col-xs-12">
                            <div class="trainers-box">
                                <figure><img src="{% static 'sweb/images/trainer3.png' %}" alt=""></figure>
                                <span>Simron Wigs</span>
                            </div>
                        </div>
                        <div class="col-sm-3 col-xs-12">
                            <div class="trainers-box">
                                <figure><img src="{% static 'sweb/images/trainer4.png' %}" alt=""></figure>
                                <span>John Smile</span>
                            </div>
                        </div>
                        <div class="col-sm-3 col-xs-12">
                            <div class="trainers-box">
                                <figure><img src="{% static 'sweb/images/trainer5.png' %}" alt=""></figure>
                                <span>Mike Doe</span>
                            </div>
                        </div>
                        <div class="col-sm-3 col-xs-12">
                            <div class="trainers-box">
                                <figure><img src="{% static 'sweb/images/trainer6.png' %}" alt=""></figure>
                                <span>Jason Doenly</span>
                            </div>
                        </div>
                        <div class="col-sm-3 col-xs-12">
                            <div class="trainers-box">
                                <figure><img src="{% static 'sweb/images/trainer7.png' %}" alt=""></figure>
                                <span>Jane Doe</span>
                            </div>
                        </div>
                        <div class="col-sm-3 col-xs-12">
                            <div class="trainers-box">
                                <figure><img src="{% static 'sweb/images/trainer8.png' %}" alt=""></figure>
                                <span>Laura Marsh</span>
                            </div>
                        </div>
                        <div class="col-sm-3 col-xs-12">
                            <div class="trainers-box">
                                <figure><img src="{% static 'sweb/images/trainer9.png' %}" alt=""></figure>
                                <span>Sandra Borrego</span>
                            </div>
                        </div>
                        <div class="col-sm-3 col-xs-12">
                            <div class="trainers-box">
                                <figure><img src="{% static 'sweb/images/trainer10.png' %}" alt=""></figure>
                                <span>Stuart Marsh</span>
                            </div>
                        </div>
                        <div class="col-sm-3 col-xs-12">
                            <div class="trainers-box">
                                <figure><img src="{% static 'sweb/images/trainer11.png' %}" alt=""></figure>
                                <span>Michael Yardy</span>
                            </div>
                        </div>
                        <div class="col-sm-3 col-xs-12">
                            <div class="trainers-box">
                                <figure><img src="{% static 'sweb/images/trainer12.png' %}" alt=""></figure>
                                <span>Marta Ruiz</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Trainers sec -->

        <!-- Start Finess Sec -->
        <div class="finess-outer">
            <div class="container">
                <h3>Fitness Classes This Summer. <br/>Pay Now and<br/> Get <span>25%</span> Discount</h3>
                <a href="contact.html" class="btn">JOIN WITH US</a>
            </div>
        </div>
        <!-- End Finess sec -->

        <!-- Start News sec -->
        <div class="news-outer">
            <div class="container">
                <div class="head">
                    <h3>LATEST NEWS</h3>
                </div>
                <div class="news-list">
                    <div class="row">
                        <div class="col-sm-4 col-xs-12">
                            <div class="news-box">
                                <figure><img src="{% static 'sweb/images/news-img1.png' %}" alt="">
                                    <div class="date-box">
                                        <span>JAN</span>
                                        <strong>20</strong>
                                    </div>
                                </figure>
                                <h4>Lorem ipsum dolor sit amet</h4>
                                <p>Aliquam eu malesuada risus. Vivamus sagittis enim tempor eros consectetur, at ullamcorper neque maximus. <a href="news-detail.html">Read More...</a></p>
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <div class="news-box">
                                <figure>
                                    <img src="{% static 'sweb/images/news-img2.png' %}" alt="">
                                    <div class="date-box">
                                        <span>JAN</span>
                                        <strong>20</strong>
                                    </div>
                                </figure>
                                <h4>Pellentesque pellentesque</h4>
                                <p>Aliquam eu malesuada risus. Vivamus sagittis enim tempor eros consectetur, at ullamcorper neque maximus. <a href="news-detail.html">Read More...</a></p>
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <div class="news-box">
                                <figure>
                                    <img src="{% static 'sweb/images/news-img3.png' %}" alt="">
                                    <div class="date-box">
                                        <span>JAN</span>
                                        <strong>20</strong>
                                    </div>
                                </figure>
                                <h4>Curabitur et scelerisque dui</h4>
                                <p>Aliquam eu malesuada risus. Vivamus sagittis enim tempor eros consectetur, at ullamcorper neque maximus. <a href="news-detail.html">Read More...</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End News sec --> 



{% endblock %}